---
Language: Cpp
BasedOnStyle: Microsoft
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AttributeMacros:
  - RED4EXT_C_EXPORT
  - RED4EXT_CALL
